.sidebar-content.file-tree {
    display: flex;
    margin-left: var(--tiny-gasp);
    flex-direction: column;
    padding: 1rem .5rem;
}

.sidebar-content.file-tree h5 {
    margin-bottom: .75rem;
}

.sidebar-content.file-tree .tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid white;
}

.sidebar-content.file-tree div.folder,
.sidebar-content.file-tree div.file {
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    padding: .25rem 0;
    padding-left: 1rem;
    width: 100%;
}

.sidebar-content.file-tree div.folder span:hover,
.sidebar-content.file-tree div.file span:hover {
    cursor: pointer;
    color: var(--gray);
    background-color: var(--dgray);
    opacity: .75;
}

.sidebar-content.file-tree div.folder,
.sidebar-content.file-tree div.file {
    padding-left: 5px;
}

.sidebar-content.file-tree div.file>span,
.sidebar-content.file-tree div.folder>span {
    margin-bottom: 1px;
}

.sidebar-content.file-tree .tools span,
.sidebar-content.file-tree div.folder > span,
.sidebar-content.file-tree div.file>span {
    display: flex;
    flex-direction: row;
}

.sidebar-content.file-tree .tools span::before,
.sidebar-content.file-tree div.folder > span::before,
.sidebar-content.file-tree div.file>span::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
}

.sidebar-content.file-tree div.folder > span::before,
.sidebar-content.file-tree div.file>span::before {
    width: 16px;
    height: 16px;
}

.sidebar-content.file-tree div.folder > span::before,
.sidebar-content.file-tree div.file>span::before {
    margin-right: 0.25rem;
}

.sidebar-content.file-tree .tools span:nth-child(1) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='20' height='20'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M15 4H5v16h14V8h-4V4zM3 2.992C3 2.444 3.447 2 3.999 2H16l5 5v13.993A1 1 0 0 1 20.007 22H3.993A1 1 0 0 1 3 21.008V2.992zM11 11V8h2v3h3v2h-3v3h-2v-3H8v-2h3z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

.sidebar-content.file-tree .tools span:nth-child(2) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='20' height='20'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12.414 5H21a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h7.414l2 2zM4 5v14h16V7h-8.414l-2-2H4zm7 7V9h2v3h3v2h-3v3h-2v-3H8v-2h3z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

.sidebar-content.file-tree .tools span:nth-child(3) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='20' height='20'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M4 19h16v-7h2v8a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-8h2v7zm9-10v7h-2V9H6l6-6 6 6h-5z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

.sidebar-content.file-tree .tools span:nth-child(4) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='20' height='20'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M13 10h5l-6 6-6-6h5V3h2v7zm-9 9h16v-7h2v8a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-8h2v7z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

.sidebar-content.file-tree div.file>span::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M9 2.003V2h10.998C20.55 2 21 2.455 21 2.992v18.016a.993.993 0 0 1-.993.992H3.993A1 1 0 0 1 3 20.993V8l6-5.997zM5.83 8H9V4.83L5.83 8zM11 4v5a1 1 0 0 1-1 1H5v10h14V4h-8z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

.sidebar-content.file-tree div.folder.open>span::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M3 21a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h7.414l2 2H20a1 1 0 0 1 1 1v3h-2V7h-7.414l-2-2H4v11.998L5.5 11h17l-2.31 9.243a1 1 0 0 1-.97.757H3zm16.938-8H7.062l-1.5 6h12.876l1.5-6z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

.sidebar-content.file-tree div.folder>span::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12.414 5H21a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h7.414l2 2zM20 11H4v8h16v-8zm0-2V7h-8.414l-2-2H4v4h16z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

.sidebar-content.file-tree div.active {
    color: white;
    background-color: var(--dprimary);
}