main section.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: calc(3 * 8px);
    grid-auto-flow: dense;
    height: auto;
    margin: 2.5rem 0;
}

main section:not(.grid)>h2 {
    margin-bottom: 1.75rem;
}

main section:not(.grid)>p {
    margin-bottom: 1.25rem;
}

main section.grid>h2 {
    line-height: 1.2;
    grid-column: 1/3;
}

main section.grid>h2.small {
    grid-column: 1/2 !important;
}

main section.grid>h2:last-child {
    text-align: right;
    grid-column: 4/5;
}

main section.grid .hero {
    grid-column: 1 / 3;
}

main section.grid .hero .filters {
    display: flex;
    width: 100%;
    padding-top: 1rem;
    align-items: center;
    justify-content: space-between;
}

.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card-wrapper .author {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 15px;
    display: flex;
    align-items: center;
    transition: transform ease-in-out .3s, opacity ease-in-out .1s;
}

.card-wrapper .author .name {
    font-size: 0.8rem;
    margin-right: 1rem;
}

.card-wrapper .author img {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    object-fit: contain;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    background: white;
    border: 1px solid #d4d4d48c;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.card.list::after,
.card.cursus::after,
.card.cursus::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: .3s;
    background: var(--gray);
    border: 1px solid #a4a4a48c;
    box-shadow: 0 2px 4px var(--shadow);
    border-radius: 3px;
    transition: .3s;
    
}

.card.list::after,
.card.cursus::after {
    transform: translate(6px, 6px);
}

.card.cursus::before {
    border: 1px solid #7474748c;
    transform: translate(12px, 12px);
}

.card.list:hover:after,
.card.cursus:hover::after {
    transform: translate(6px, 6px) rotate(1.5deg);
}

.card-wrapper:hover .author {
    transform: translateY(-100%);
    opacity: 0;
}

.card.cursus:hover::before {
    opacity: 1;
    transform: translate(12px, 12px) rotate(3deg);
}

.card.empty {
    position: relative;
    background-color: var(--gray);
    align-items: center;
    justify-content: center;
    opacity: .75;
}

.card.empty h3 {
    font-size: 1.75rem;
    font-weight: bold;
    z-index: 1;
    color: var(--tertiary);
}

.card.empty::before {
    content: "+";
    position: absolute;
    color: var(--dgray);
    font-size: 15rem;
    line-height: 0rem;
    font-weight: bold;
    transform: translateY(-1rem);
    z-index: 0;
}

.card header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 214px;
    background-color: var(--gray);
    transition: all .5s ease-in-out;
}

.card header h3 {
    width: 80%;
    text-align: center;
    line-height: 1.3;
    font-size: 16px;
    font-weight: 700;
}

.card .body {
    display: grid !important;
    grid-template-columns: 1fr;
    align-content: flex-start;
    padding: 0 16px;
    height: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.card .body p.description {
    font-size: .9em;
}

.card:hover header {
    height: 90px;
}

.card:hover .body {
    height: 125px;
    padding: 16px;
}

.card footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    padding: 0 16px;
    background-color: var(--gray);
}

.card footer .progress {
    display: block;
    width: 50%;
    height: 5px;
}

.card footer .progress span {
    display: block;
    height: 5px;
    background-color: var(--primary);
}

.card footer .date,
.card footer .time {
    display: flex;
    align-items: center;
}

.card footer .date::before,
.card footer .time::before {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-right: .5rem;
    background-repeat: no-repeat;
    background-position: center center;
}

.card footer .date::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M9 1v2h6V1h2v2h4a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4V1h2zm11 9H4v9h16v-9zm-4.964 1.136l1.414 1.414-4.95 4.95-3.536-3.536L9.38 12.55l2.121 2.122 3.536-3.536zM7 5H4v3h16V5h-3v1h-2V5H9v1H7V5z'/%3E%3C/svg%3E");
}

.card footer .time::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm1-8h4v2h-6V7h2v5z'/%3E%3C/svg%3E");
}

@-webkit-keyframes glowing {
    from {
        box-shadow: 0 0 0 var(--secondary);
    }

    to {
        transform: scale(1.01);
        box-shadow: 0 0 5px 2px var(--secondary);
    }
}

@keyframes glowing {
    from {
        box-shadow: 0 0 0 var(--secondary);
    }

    to {
        transform: scale(1.01);
        box-shadow: 0 0 5px 2px var(--secondary);
    }
}

.card.live {
    border-color: var(--secondary);
}

.card.live.run::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary);
    transition: .5s;
    z-index: -1;
    opacity: 0.5;
}

.card.live.run::before {
    animation: glowing 1s ease-in-out infinite alternate;
}

.card.live::after {
    content: 'live';
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    padding: .2rem .25rem;
    border-radius: 4px;
    z-index: 5;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    background: var(--secondary);
    transition: transform ease-in-out .3s, opacity ease-in-out .1s;
}

.card.live:hover::before {

    transform: scale(1.01);
    /* transform: scale(1.01); */
    box-shadow: 0 0 5px 2px var(--secondary);
}

.card.live:hover:after {
    transform: translateY(-100%);
    opacity: 0;
}

.card.live.run:hover {
    box-shadow: 0 0 5px var(--secondary);
}