body > header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2.5rem;
    width: 100%;
    height: var(--header-h);
    backdrop-filter: blur(5px);
    /* background-color: white; */
}

body > header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin-top: 0.5rem;
}

body > header .logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
}


body > header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    height: 100%;
    border-bottom: 1px solid #000;
    transition: width .25s ease-in-out;
}

body > header nav span.search {
    transition: width .25s ease-in-out;
}

body > header nav span.search {
    display: flex;
    align-items: center;
    width: 100px;
    border-radius: 2.5px;
    margin-right: 0;
    transition: width .25s ease-in-out;
}

body > header nav span.search::before {
    content: "";
    display: block;
    width: 24px;height: 24px;
    margin-right: .5rem;
    opacity: 0.5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M11 2c4.968 0 9 4.032 9 9s-4.032 9-9 9-9-4.032-9-9 4.032-9 9-9zm0 16c3.867 0 7-3.133 7-7 0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7zm8.485.071l2.829 2.828-1.415 1.415-2.828-2.829 1.414-1.414z' fill='rgba(0,0,0,1)'/%3E%3C/svg%3E");
}

body > header nav span.search input {
    width: calc(100% - (24px + .5rem));
    background-color: transparent;
    outline: none;
}

body > header nav span.search input::placeholder {
    color: black;
}

body > header nav.active-search {
    width: 50%;
}

body > header nav.active-search a {
    margin-right: 2rem;
}

body > header nav.active-search .search {
    width: 100%;
}

body > header .profile {
    display: flex;
    align-items: center;
}

body > header .profile > *:first-child {
    margin-right: 1rem;
}

body > header .avatar {
    width: 48px;
    height: 48px;
    margin-right: 1rem;
    border-radius: 48px;
    object-fit: cover;
}

body > header .name {
    margin-right: 2rem;
}

body.alt > header {
    background-color: rgba(0, 0, 0, 0.1);
}

body.alt > header nav {
    background-color: transparent;
}

html.full body.alt > header {
    display: none;
    background-color: transparent;
}