body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: var(--font);
    overflow-x: hidden;
    font-family: var(--body-font);
    background-color: white;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: calc(var(--header-h) + 1rem);
    width: 100%;
    min-height: 100vh;
}

body.alt main {
    margin-top: var(--header-h);
}

html.full body::-webkit-scrollbar,
html.full::-webkit-scrollbar {
    display: none;
}

html.full main {
    margin: 0;
}

main section {
    width: calc(100% - 5rem);
    height: 100vh;
}

main section h2 {
    font-family: var(--body-font-hero);
}

main.wide section {
    width: calc(100% - 2rem);
}

main section {
    display: flex;
    align-items: center;
    justify-content: center;
}

main section.hfull {
    min-height: 100vh;
}

main section.col {
    height: auto;
    padding: 2rem 0;
    flex-direction: column;
}

main section.col:not(.hfull) {
    justify-content: start;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    font-weight: 500;
}

main h1 {
    font-size: 60px;
}

main h2 {
    font-size: 50px;
}

main h3 {
    font-size: 45px;
}

main h4 {
    font-size: 40px;
}

main h5 {
    font-size: 35px;
}

main h6 {
    font-size: 30px;
}

section > p.section-intro {
    font-size: 20px;
    margin-bottom: 3rem !important;
}

.btn {
    font-size: .95rem;
    color: white;
    background-color: black;
    padding: 1rem 1.25rem;
    border: none;
    border-radius: 2.5px;
    cursor: pointer;
}

.btn.prime {
    background-color: var(--secondary);
}

.btn:hover {
    opacity: 0.9;
}

.btn.alt {
    color: black;
    background-color: white;
}

.btn.small {
    padding: .25rem .5rem;
}

.btn.medium {
    padding: .6rem;
}

.btn.second {
    color: black;
    background-color: transparent;
}

.divider {
    display: block;
    width: calc(100% - 15rem);
    height: 1px;
    background-color: var(--primary);
}

@keyframes phare {
    0% {
        border-right:  0.08em solid var(--secondary);
    }

    50% {
        border-right:  0.08em solid var(--secondary);
    }
    
    51% {
        border-right:  0.08em solid transparent;
    }

    100% {
        border-right:  0.08em solid transparent;
    }
}

.txt-rotate > .wrap { border-right: 0.08em solid var(--secondary); animation: phare .75s ease-in-out infinite forwards; }