body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: var(--font);
    overflow-x: hidden;
    font-family: var(--body-font);
    background-color: white;
}

body::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: .75%;
    height: 100vh;
    opacity: .5;
    background-color: var(--primary);
    z-index: -2;
}

html::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: .75%;
    width: .75%;
    height: 100vh;
    opacity: .5;
    background-color: var(--tertiary);
    z-index: -2;
}

html::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 1.5%;
    width: .75%;
    height: 100vh;
    opacity: .8;
    background-color: var(--secondary);
    z-index: -2;
}

body::after {
    content: "";
    display: block;
    position: fixed;
    top: 25vh;
    right: 5%;
    width: 75vh;
    height: 75vh;
    border-radius: 50vh;
    opacity: .5;
    /* background-color: var(--secondary); */
    background-color: black;
    z-index: -2;
}

main::after {
    content: "";
    display: block;
    position: fixed;
    top: 30vh;
    right: 40%;
    width: 40vh;
    height: 40vh;
    border-radius: 50vh;
    opacity: .125;
    /* background-color: var(--cyan); */
    background-color: black;
    z-index: -2;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: calc(var(--header-h) + 1rem);
    width: 100%;
    min-height: 100vh;
}

body.alt main {
    margin-top: var(--header-h);
}

html.full body::-webkit-scrollbar,
html.full::-webkit-scrollbar {
    display: none;
}

html.full main {
    margin: 0;
}

main section {
    width: calc(100% - 5rem);
    height: 100vh;
}

main section h2 {
    font-family: var(--body-font-hero);
}

main.wide section {
    width: calc(100% - 2rem);
}

main section {
    display: flex;
    align-items: center;
    justify-content: center;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    font-weight: 500;
}

main h1 {
    font-size: 60px;
}

main h2 {
    font-size: 50px;
}

main h3 {
    font-size: 45px;
}

main h4 {
    font-size: 40px;
}

main h5 {
    font-size: 35px;
}

main h6 {
    font-size: 30px;
}

.btn {
    font-size: .95rem;
    color: white;
    background-color: black;
    padding: 1rem 1.25rem;
    border: none;
    border-radius: 2.5px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn.alt {
    color: black;
    background-color: white;
}

.btn.small {
    padding: .25rem .5rem;
}

.btn.medium {
    padding: .6rem;
}

.btn.second {
    color: black;
    background-color: transparent;
}

.divider {
    display: block;
    width: calc(100% - 15rem);
    height: 1px;
    background-color: var(--primary);
}