.sidebar-content.chapterlist,
.notificationlist,
.sidebar-content.notelist {
    display: flex;
    width: 30% !important;
    flex-direction: column;
    padding: 1rem .5rem;
}

.notificationlist {
    padding: 1rem .5rem 1rem 1rem;
    width: 100% !important;
    overflow: hidden;
}

.notificationlist ol.list {
    padding-right: .5rem;
    height: 100%;
    overflow-y: scroll;
}

.sidebar-content.notelist {
    margin-right: var(--tiny-gasp);
}

.sidebar-content.chapterlist {
    width: calc(30% + var(--header-h)) !important;
}

.notificationlist h5,
.sidebar-content.chapterlist h5,
.sidebar-content.notelist h5,
.sidebar-content.chapterlist p,
.sidebar-content.notelist p {
    margin-bottom: .5rem;
}

.sidebar-content.chapterlist button {
    margin-bottom: 0.75rem;
}

.notificationlist .notif,
.sidebar-content.chapterlist .chapter,
.sidebar-content.notelist .note {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: .25rem;
    border-radius: 2.5px;
    margin-bottom: var(--tiny-gasp);
    background-color: var(--secondary);
    color: white;
    font-style: 0.9rem;
}

.notificationlist .notif {
    background-color: var(--dgray-t);
}

.notificationlist .notif .message span,
.sidebar-content.chapterlist .chapter .name span,
.sidebar-content.notelist .note .name span {
    color: var(--primary);
    opacity: .5;
}

.sidebar-content.chapterlist .chapter .time,
.sidebar-content.notelist .note .time {
    font-weight: bold;
    color: var(--lprimary);
    font-size: .8rem;
}