/*===== VARIABLES CSS =====*/
/* Layout */
:root {
    --header-h: 60px;
    --tiny-gasp: 2px;
    --gasp: 25px;
    --radius: 2.5px;
    --shadow: .5px 1px 30px 5px #0000003f, -1px -1px 30px 5px #0000003f;
}

/* Colors */
:root {
    /* Primaries */
    --primary: #05040D;
    --lprimary: #110E2D;
    --lprimary-t: #110e2dcc;
    
    /* Primaries */
    --secondary: #7213FD;
    --dsecondary: #4202A2;
    --lsecondary: #964FFE;

    /* Primaries */
    --tertiary: #13A0FD;
    --dtertiary: #0273BD;
    --ltertiary: #5EBEFE;
    
    --white: #fff;
    --gray: #F8F8F8;
    --dgray: #aaaaaa;
    --dgray-t: #00000093;

    --font: var(--primary);

    --yellow: rgb(251, 255, 0);
    --cyan: #00d6e7;
    --alert: rgb(254, 34, 34);
    --warning: rgb(243, 203, 81);
    --success: #00e788;
}

.pcol {
    color: var(--primary) !important;
}

.back-pcol {
    background-color: var(--primary) !important;
}

.scol {
    color: var(--secondary) !important;
}

.back-scol {
    background-color: var(--secondary) !important;
}

.tcol {
    color: var(--tertiary) !important;
}

.back-tcol {
    background-color: var(--tertiary) !important;
}

.ycol {
    color: var(--yellow) !important;
}

.back-ycol {
    background-color: var(--yellow) !important;
}

.ccol {
    color: var(--cyan) !important;
}

.back-ccol {
    background-color: var(--cyan) !important;
}

.gcol {
    color: var(--green-col) !important;
}

.back-gcol {
    background-color: var(--green-col) !important;
}

.rcol {
    color: var(--red-col) !important;
}

.back-rcol {
    background-color: var(--red-col) !important;
}

/* Font and typography */
:root {
    --body-font: Inter;
    --body-font-alt: "Open Sans";
    --body-font-hero: "Suez One";
    --hero-font-sz: 3rem;
    --title-font-sz: 2rem;
    --subtitle-font-sz: 1.75rem;
    --medium-font-sz: 1.25rem;
    --normal-font-sz: .975rem;
    --small-font-sz: .875rem;
}

@media screen and (min-width: 768px) {
    :root {
        --hero-font-sz: 4.5rem;
        --title-font-sz: 3rem;
        --subtitle-font-sz: 2rem;
        --medium-font-sz: 1.45rem;
        --normal-font-sz: 1rem;
        --small-font-sz: .875rem;
    }
}

/* Marges */
:root {
    --sz-1: .5rem;
    --sz-2: 1rem;
    --sz-3: 1.5rem;
    --sz-4: 2rem;
    --sz-5: 2.5rem;
}

/* z index */
:root {
    --z-above: 10;
    --z-bellow: -1;
}