.code-editor {
    display: flex;
    width: 80%;
    height: 84vh;
    background-color: var(--gray-col);
    margin-right: var(--gasp);
    padding: .5rem 0;
    box-shadow: var(--shadow);
}

.code-editor > .lines {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75px;
    border-right: 1px solid var(--dgray-col);
}

.code-editor > .main-input {
    width: 100%;
    padding-left: 1rem;
}