header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--header-h);
}

.hd-left,
.hd-right,
.hd-middle,
.hd-middle-alt {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--gray);
    box-shadow: var(--shadow);
}

.hd-left {
    width: 20%;
    border-bottom-right-radius: var(--radius);
}

.hd-left > img.logo {
    width: 175px;
}

.hd-middle,
.hd-middle-alt {
    display: flex;
    align-items: center;
    width: 45%;
    margin: 0 var(--gasp);
    border-radius: 0 0 var(--radius) var(--radius) ;
}

.hd-middle-alt {
    justify-content: space-between;
    background-color: transparent;
    box-shadow: none;
}

.hd-middle > .search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.hd-middle-alt > .file-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-right: var(--gasp);
    height: 100%;
    font-size: 1.25rem;
    background-color: var(--gray);
    box-shadow: var(--shadow);
}

.hd-middle-alt > .cast-name {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    width: 70%;
    height: 100%;
    font-size: 1.25rem;
    color: white;
    background-color: var(--tertiary);
    box-shadow: var(--shadow);
}

.hd-middle > .search-box > input.search-inp {
    padding: .5rem .75rem;
    width: 95%;
    background-color: var(--dgray);
}

.hd-middle > .search-box > input.search-inp:focus,
.hd-middle > .search-box > input.search-inp:hover {
    outline: none;
}

.hd-middle > .search-box > button.search-btn {
    position: relative;
    display: flex;
    width: 1.75rem;
    height: 1.75rem;
    font-size: 1.25rem;
    background-color: var(--yellow);
}

.hd-middle > .search-box > button.search-btn::before {
    position: absolute;
    top: .5rem;
    left: .5rem;
    content: '';
    width: .75rem;
    height: .75rem;
    border-top: .25rem solid var(--primary);
    border-right: .25rem solid var(--primary);
    transform: rotate(45deg);
}

.hd-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
}

.recorder .hd-right {
    justify-content: space-between;
    background-color: transparent;
    box-shadow: none;
}

.hd-right > button.login-btn {
    padding: .5rem .75rem;
    background-color: var(--cyan);
}

.hd-right > button.profile-btn {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: var(--gray);
    box-shadow: var(--shadow);
}

.hd-right > button.profile-btn > img {
    width: calc(var(--gasp)*2);
    height: calc(var(--gasp)*2);
    object-fit: contain;
    margin-right: 10px;
    cursor: pointer;
}

.hd-right > button.profile-btn > span {
    width: 90%;
    cursor: pointer;
}

.meta-infos,
.menu-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
}

.recorder .meta-infos {
    width: 50%;
    height: 100%;
    margin-right: var(--gasp);
    background-color: var(--gray);
    box-shadow: var(--shadow);
}

.recorder .meta-infos > button {
    padding: var(--gasp) var(--gasp)
}

.menu-item {
    font-size: 1.1rem;
}

.nb-like,
.author {
    font-size: 1.1rem;
}
