@-ms-viewport { width: device-width }

html {
    width: 100%;
    min-height: 100vh;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100vw !important;
    min-height: 100vh;
    color: var(--primary-col);
}

/* body.recorder, */
body.player {
    overflow: hidden;
    max-height: 100vh;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}

body.recorder > main,
body.player > main {
    margin-top: var(--gasp);
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-title {
    width: calc(100% - 2 * var(--gasp));
    font-size: var(--medium-font-sz);
    margin: var(--gasp) 0;
    padding: calc(var(--gasp)/1.25) calc(var(--gasp)*1.25);
    color: var(--primary-col);
    background-color: var(--gray-col);
    box-shadow: .5px 0px 2.5px .5px #00000054;
}

.search-title > span {
    margin-left: var(--sz-1);
    font-weight: bold;
    color: var(--secondary-col);
}

/* footer {

} */
